#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* App.css */
.container {
  min-height: 100vh;
   /* equivalent to bg-gray-100 */
  padding: 1.5rem; /* padding of 6 from Tailwind */
}

.button {
  padding: 0.5rem 1rem;
  background-color: #3b82f6; /* equivalent to bg-blue-500 */
  color: white;
  border-radius: 0.375rem; /* rounded from Tailwind */
  text-decoration: none;
}

.button:hover {
  background-color: #2563eb; /* equivalent to hover:bg-blue-700 */
}

.mt-4 {
  margin-top: 1rem; /* margin-top of 4 from Tailwind */
}
